* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}



/*perintah untuk memanggil font eksternal*/

@font-face {
    font-family: 'c';
    src: url('font/SummerFont-Light.otf');
}

@font-face {
    font-family: 'c1';
    src: url('font/SummerFont-Light.otf');
}


@font-face {
    font-family: 'd';
    src: url('font/Junction-light.otf');
}


body {
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    height: auto;
    display: flex;
    justify-content: start;
}

/* change color */

html {
    transition: 2s;
}

html.changeOn {
    filter: invert(1);
}

.container-changeColor {
    background-color: rgb(130, 41, 202);
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1111;
    border-radius: 5% 0 0 5%;
    height: 40px;
    right: -160px;
}

.sideON {
    right: 0;
}

.changeColor {
    display: inline-flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

}

.changeColor span {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 15px;
    font-family: 'd';
}

.sidebarMobile {

    display: inline-flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.sidebarMobile span {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0px 15px;
    font-family: 'd';
}

.input1 {
    position: relative;
    width: 100%;
    height: 50%;
    opacity: 0%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

}

.input2 {
    position: absolute;
    width: 100%;
    height: 50%;
    opacity: 0%;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: slateblue;
}

.wrapper {

    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ff6296 10%, #9a3ce7 40%, #23A6D5 70%, #28beebdc 100%);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    overflow: hidden;
}


.time {
    font-family: 'c1';
    font-size: 120px;
    color: #fff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
}

.txtberjalan {
    font-family: 'c';
    text-transform: lowercase;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    letter-spacing: .7mm;
    color: #fff;

}

.tanggal {
    font-family: 'd';
    text-transform: capitalize;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-style: italic;
    color: #fff;

}

.author {
    font-family: 'd';
    text-transform: lowercase;
    position: absolute;
    top: 4%;
    left: 89%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-style: italic;
    color: #fff;

}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(225, 225, 225, 1);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}




.bulat {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}


.bulat span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 6s linear infinite;
}

.bulat:hover span:nth-child(1) {

    background: rgba(0, 0, rgb(53, 212, 212), 1);
}

.bulat span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate3 4s linear infinite;
}

.bulat:hover span:nth-child(2) {

    background: rgba(#4febc6, rgb(74, 171, 228), rgb(53, 212, 212), 1);
}

.bulat span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 7s linear infinite;
}

.bulat:hover span:nth-child(3) {

    background: rgba(#4febc6, rgb(74, 171, 228), rgb(53, 212, 212), 1);
}

.bulat span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate3 8s linear infinite;
}

.bulat:hover span:nth-child(4) {

    background: rgba(0, 0, rgb(53, 212, 212), 1);
}

.bulat span:nth-child(5) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.bulat:hover span:nth-child(5) {

    background: rgba(0, 0, rgb(53, 212, 212), 1);
}

.isi {
    font-size: 34px;
    text-transform: capitalize;
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
    font-family: 'd';
}

.isi:hover {

    color: salmon;
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate3 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }

}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 900px) {

    /* change color */
    .container-changeColor {
        right: -160px;
    }

    .sideON {
        right: 0;
    }

    .tanggal {
        font-size: 20px;
    }

    .txtberjalan {
        width: 75%;
        top: 84%;
        font-size: 49px;
    }

    .bulat {
        width: 400px;
        height: 400px;
        top: 58%;
    }

    .isi {
        font-family: 'd';
        font-size: 30px;
    }

    .time {
        top: 19%;
        font-size: 150px;
    }
}

@media (max-width: 810px) {

    /* change color */
    .container-changeColor {
        right: -160px;
    }

    .sideON {
        right: 0;
    }

    .tanggal {
        font-size: 17px;
    }

    .txtberjalan {
        width: 75%;
        top: 88%;
        font-size: 49px;
    }

    .bulat {
        width: 300px;
        height: 300px;
        top: 57%;
    }

    .isi {
        font-family: 'd';
        font-size: 30px;
    }

    .time {
        top: 17%;
        font-size: 100px;
    }
}

@media (max-height: 657px) {

    /* change color */
    /* .container-changeColor{
    top: 93%;
    height: 30px;
   right: -113px;
}
.changeColor{
   margin: 0 0px;
   font-size: 10px;
}
.sidebarMobile{
   font-size: 8px;
   margin: 0 0;
}
.sideON{
   right: 0;
} */
    .tanggal {
        font-size: 17px;
    }

    .txtberjalan {
        width: 75%;
        top: 88%;
        font-size: 49px;
    }

    .bulat {
        width: 300px;
        height: 300px;
        top: 55%;
    }

    .isi {
        font-family: 'd';
        font-size: 30px;
    }

    .time {
        top: 17%;
        font-size: 100px;
    }
}

@media (max-width:500px) {

    /* change color */
    .container-changeColor {
        top: 90%;
        height: 30px;
        right: -113px;
    }

    .changeColor {
        margin: 0 0px;
        font-size: 10px;
    }

    .sidebarMobile {
        font-size: 8px;
        margin: 0 0;
    }

    .sideON {
        right: 0;
    }

    .tanggal {
        font-size: 16px;
    }

    .txtberjalan {
        top: 82%;
        width: 75%;
        font-size: 30px;
    }

    .bulat {
        width: 290px;
        height: 290px;
        top: 54%;
    }

    .isi {
        font-family: 'd';
        font-size: 22px;
    }

    .time {
        top: 19%;
        font-size: 110px;
    }
}

@media (max-width:360px) {

    /* change color */
    .container-changeColor {
        top: 83%;
        height: 30px;
        right: -113px;
    }

    .changeColor {
        margin: 0 0px;
        font-size: 8px;
    }

    .sidebarMobile {
        font-size: 8px;
        margin: 0 0;
    }

    .sideON {
        right: 0;
    }

    .tanggal {
        top: 5%;
        font-size: 15px;
    }

    .txtberjalan {
        top: 77%;
        width: 75%;
        font-size: 24px;
    }

    .bulat {
        width: 220px;
        height: 220px;
        top: 50%;
    }

    .isi {
        font-size: 18px;
        font-family: 'd';
    }

    .time {
        top: 15%;
        font-size: 80px;
    }
}
